/* HEADER Y MENU NAV */

nav { /*padre de todo el menu nav*/
    background-color: black;
    color: #fff;
    position: sticky;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    top: 0;
}

main {
    height: 100vh;
} 

#logo { /*nombre del bar (burgercity bar)*/
    color: #fff;
    padding: 0 10px;
    font-size: 20px;
    flex-direction: column;
    text-align: center;
    display: flex;
}

#instagram { /*icono instagram en menu nav*/
    color: #fff;
    padding: 0 10px;
    font-size: 20px;
    padding-bottom: 25px;
}

#facebook { /*icono facebook en menu nav*/
    color: #fff;
    padding: 0 10px;
    font-size: 20px;
}

.nav-links { /*ul del nav , (nuestras hamburguesas, nuestras cervezas, sucurusales , etc)*/
    display: flex;
    gap: 11px;
    list-style: none;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.nav-links a { /*tag a del menu nav (links)*/
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover{ /*al pasar el mouse sobre los links*/
    color: blue;
}

li { /*animacion para los iconos de facebook e instagram*/
    animation-duration: 10s;
    animation-delay: 1s;
}
