/*HAMBURGUESAS Y CERVEZAS*/
#logo p{/*parrafo del logo burgercity bar*/
    padding-right: 10px;
}

p {/*parrafos de hamburguesas y cervezas descripcion*/
    margin-top: 16px;
    margin-bottom: 1rem;
}

.imagenhamburguesa {/*imagen de hamburguesa en el banner*/
    margin: auto;
    text-align: center;
    padding: 0 160px; /*padding a los lados para que el texto quede mejor acomodado*/
}

.d-flex { /*seccion de todo el banner*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: wrap;
}

.imagenhamburguesa h1 {/*Texto imagen banner (de buenos aires al mundo)*/
    color: rgb(34, 33, 33);
    font-size: 8vw; /*tamaño de letra se agranda o se achica en proporcion a la pagina*/
    font-weight: bold;
}

.spanhamburguesas { /*titulo nuestras hamburguesas*/
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
}

#hamburguesas {/* seccion de todo el contenido de hamburguesas*/
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

img {/*bordes y tamaño de imagenes cervezas y hamburguesas*/
border-radius: 20px;
height: 136px;
}

.spanCervezas {/*titulo nuestras cervezas*/
    padding-top: 1em;
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
}

#Cervezas { /*seccion de todo el contenido de cervezas*/
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

.nombreHamburguesa{/*Nombre de cada hamburguesa (Roma, Paris, Buenos Aires, Etc)*/
    font-family: 'OmbudsmanStencil', fantasy;
    font-size: 23px;
}

.nombreCerveza{/*Nombre de cada cerveza (Honey, Porter, Etc)*/
    font-family: 'OmbudsmanStencil', fantasy;
    font-size: 23px;
}

.containerHamburguesa { /*div padre de todo el contenido de hamburguesas, pero hijo del section principal "hamburguesas"*/
    max-width: 1200px;
    margin: auto;
}

.containerCerveza {/*/*div padre de todo el contenido de cerveza, pero hijo del section principal "cervezas"*/
    max-width: 1200px;
    margin: auto;
}

/*Efecto de zoom a las imagenes, seccion Hamburguesas y Cervezas*/

.hamburguesa-grid img {
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width:100%;
}

    .hamburguesa-grid:hover img { /*efecto de zoom*/
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

    .hamburguesa-grid {/*ancho y alto de imagenes*/
    width:157px;
}

.Cerveza-grid img {
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width:100%;
}

    .Cerveza-grid:hover img { /*efecto de zoom*/
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

    .Cerveza-grid {/*ancho y alto de imagenes de las cervezas*/
    width:157px;
}