@media all and (max-width: 420px){ /*hasta los 420px se aplican los siguientes efectos
    heredados del celulares.css */

    #logo p { /*logo del parrafo*/
        padding: 0px;
    }

    #botonflotante { /*boton de pedi ahora*/
        font-size: 17px;
        height: 28px;
        font-size: 10px;
        width: 17px;
        box-shadow: 0px 2px rgb(57 71 71 / 50%);
    }
 
    #logo {/*logo y tag a del nav*/
        font-size: 16px;
    }

    #banner { /*tamaño del banner con la foto de buenos aires al mundo*/
        height: 220px;
    }

    .imagenhamburguesa h1 { /*h1 de las hamburguesas*/
        font-size: 28px;
    }

    .spanhamburguesas { /*titulo de cada hamburguesa*/
        font-size: 25px;
        text-align: center;
    }

    .spanCervezas { /*titulo de cada cerveza*/
        font-size: 25px;
    }

    iframe { 
        height: 213px;
        width: 310px;
    }

    .container-xl h1 { /*clase del contenedor del formulario*/
        font-size: 25px;
    }

    .ContainerNosotros h2{/* clase del contenedor nuestras sucursales*/
        font-size: 25px;
    }

    .ContainerUbicacion h2{ /*clase del contenedor de ubicacion*/
        font-size: 25px;
    }
    #ContainerNuestrasSucursales { /*contenedor nuestras sucursales*/
        padding-bottom: 0px;
    }
    
    .col-4{/*ancho de formulario*/
        width: 90%;
    }

    .imagenFooter { /*imagen final (logo burgercity)*/
        width: 100%;
    }

    footer{
        padding-bottom: 100px;
    }

}